<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>cleanenergy.webill.validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>cleanenergy.webill.uploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QrReader</servlet-name>
        <servlet-class>cleanenergy.webill.showUploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>qrReader</servlet-name>
        <servlet-class>cleanenergy.webill.qrReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GPSReader</servlet-name>
        <servlet-class>cleanenergy.webill.GPSReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showUploads</servlet-name>
        <servlet-class>cleanenergy.webill.showUploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerList</servlet-name>
        <servlet-class>cleanenergy.webill.registerUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>cleanenergy.webill.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>cleanenergy.webill.editUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerUsers</servlet-name>
        <servlet-class>cleanenergy.webill.registerUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>cleanenergy.webill.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QrReader</servlet-name>
        <url-pattern>/QrReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>qrReader</servlet-name>
        <url-pattern>/qrReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GPSReader</servlet-name>
        <url-pattern>/GPSReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showUploads</servlet-name>
        <url-pattern>/showUploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerList</servlet-name>
        <url-pattern>/customerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerUsers</servlet-name>
        <url-pattern>/registerUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
